DATABASE_HOST=wolf-server.local
DATABASE_PORT=5432
DATABASE_NAME=wscd_web
DATABASE_USER=your_user
DATABASE_PASSWORD=your_password
DATABASE_SSL=false
DATABASE_URL=postgresql://your_user:your_password@wolf-server.local:5432/wscd_web
